﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Prak Ro<br />
    American,MG 90330<br />
    <abbr title="Phone">P:</abbr>
    172.25.2558
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jirayud06@gmail.com">Jirayud06@gmail.com</a><br />
    
</address>
