@page
@model NewsReport.Pages_NewsAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.NewsID" />
            <div class="form-group">
                <label asp-for="News.NewsCategoryID" class="control-label"></label>
                <select asp-for="News.NewsCategoryID" class="form-control" asp-items="ViewBag.NewsCategoryID"></select>
                <span asp-validation-for="News.NewsCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.ReportDate" class="control-label"></label>
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.NewsDetail" class="control-label"></label>
                <input asp-for="News.NewsDetail" class="form-control" />
                <span asp-validation-for="News.NewsDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Gpslat" class="control-label"></label>
                <input asp-for="News.Gpslat" class="form-control" />
                <span asp-validation-for="News.Gpslat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Gpslng" class="control-label"></label>
                <input asp-for="News.Gpslng" class="form-control" />
                <span asp-validation-for="News.Gpslng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.NewsStatus" class="control-label"></label>
                <input asp-for="News.NewsStatus" class="form-control" />
                <span asp-validation-for="News.NewsStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
