@using Microsoft.AspNetCore.Identity
@using PharmaAccount.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Profile</a>
            </li>
			<li>
			  <a href="/NewsPharma"> Drug List </a>
			 </li>
			 <li> 
			   <a href="/NewsPharmaAdmin"> Add Information </a>
			 </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
