@page
@model NewsReport.Pages.NewsCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.News[0].NewsCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].NewsDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Gpslat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Gpslng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].NewsStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gpslat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gpslng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
