@page
@model PharmaAccount.Pages.NewsPharmaAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewsPharma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsPharma.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsPharma.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsPharma.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsPharma.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsPharma.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsPharma.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsPharma.NewsPharmaID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
