@page
@model PharmaAccount.Pages.NewsPharmaAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsPharma[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsPharma[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsPharma[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsPharma) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsPharmaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsPharmaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsPharmaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
